@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$grayishBlue: hsl(220, 15%, 55%);
$baseColor: hsl(212, 45%, 89%);
$darkBlue: hsl(218, 44%, 22%);

@mixin centerKit {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: $baseColor;
  @include centerKit();
}

.container {
  background-color: hsl(0, 0%, 100%);
  height: 31rem;
  width: 20rem;
  position: relative;
  border-radius: 20px;
  margin-top: -10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .bar-code-container {
    overflow: hidden;
    padding: 0 5px;
    margin-top: 0.9375rem;
    @include centerKit;
    img {
      width: 18.25rem;
      border-radius: 10px;
    }
  }

  .heading {
    margin-top: 25px;
    margin-bottom: 15px;
    h3 {
      color: $darkBlue;
      font-size: 1.3rem;
      text-align: center;
      margin: 0 23px;
      font-weight: 700;
    }
  }

  .desc-area {
    p {
      font-size: 0.9375rem;
      color: $grayishBlue;
      margin: 0 35px;
      text-align: center;
      font-weight: 400;
    }
  }
}

.attribution {
  font-size: 0.625rem;
  position: fixed;
  bottom: 0;
  padding-left: 1rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}
